<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${level} ${message}" />
		<target name="file" xsi:type="File"
            layout="${longdate} ${level} ${logger} ${message}"
            fileName="${basedir}/logs/logfile.txt"
            keepFileOpen="false"
            encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="file" />
	</rules>
</nlog>